<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/">
        <img src="{{ config.ASSETS_ROOT }}/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">CRIS-Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/index.html">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 192.287 192.287" style="enable-background:new 0 0 192.287 192.287;" xml:space="preserve">
<g>
	<path d="M122.901,0H19.699v192.287h152.889v-142.6L122.901,0z M146.981,45.299h-19.686V25.612L146.981,45.299z M34.699,177.287V15
		h77.596v37.799c0,4.142,3.357,7.5,7.5,7.5h37.793v116.988H34.699z"/>
	<rect x="53.141" y="149.004" width="86.006" height="10"/>
	<rect x="53.141" y="55.101" width="51.058" height="10"/>
	<polygon points="121.248,86.935 126.79,86.935 105.371,108.353 88.623,91.605 51.597,128.634 58.667,135.706 88.623,105.748
		105.371,122.495 133.861,94.005 133.861,99.535 143.861,99.535 143.861,76.935 121.248,76.935 	"/>
	<rect x="53.141" y="33.283" width="51.058" height="10"/>
</svg>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 415 415" style="enable-background:new 0 0 415 415;" xml:space="preserve">
<g>
	<g>
		<rect x="148.333" y="114.715" width="118.334" height="70.19"/>
	</g>
	<g>
		<rect x="148.333" y="315.095" width="118.334" height="70.19"/>
	</g>
	<g>
		<rect x="296.667" y="114.715" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="148.333" y="214.905" width="118.334" height="70.19"/>
	</g>
	<g>
		<rect x="0" y="214.905" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="296.667" y="315.095" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="296.667" y="214.905" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect y="315.095" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="0" y="114.715" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect y="29.715" width="415" height="55"/>
	</g>

</svg>
            </div>
            <span class="nav-link-text ms-1">Forschungsprojekte</span>
          </a>
        <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables2.html">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 415 415" style="enable-background:new 0 0 415 415;" xml:space="preserve">
<g>
	<g>
		<rect x="148.333" y="114.715" width="118.334" height="70.19"/>
	</g>
	<g>
		<rect x="148.333" y="315.095" width="118.334" height="70.19"/>
	</g>
	<g>
		<rect x="296.667" y="114.715" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="148.333" y="214.905" width="118.334" height="70.19"/>
	</g>
	<g>
		<rect x="0" y="214.905" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="296.667" y="315.095" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="296.667" y="214.905" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect y="315.095" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect x="0" y="114.715" width="118.333" height="70.19"/>
	</g>
	<g>
		<rect y="29.715" width="415" height="55"/>
	</g>

</svg>
            </div>
            <span class="nav-link-text ms-1">Publikationen</span>
          </a>
        
    
        
      </ul>
    </div>


  </aside>
  