{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
<div class="col-xl-12 col-sm-3 mb-s-1 mb-1">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-9">
                  <div class="numbers">
                <select id="cardfilter" style="float: left; margin-top: 15px; margin-left: 3px;">
                      <option value="All">Alle</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                </select>
                <p style="display: inline-block; margin-left: 10px; margin-top: 15px;">Filter nach Jahr</p>

</div>
                    </div>

      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card" style="border: 1px solid #D3D3D3;">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Anzahl Projekte</p>
                    <h5 class="font-weight-bolder mb-0">
                      <div id="number_projects"></div>

                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-folder-17 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card" style="border: 1px solid #D3D3D3;">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Anzahl Publikationen</p>
                    <h5 class="font-weight-bolder mb-0">
                      <div id="number_pub"></div>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-book-bookmark text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card" style="border: 1px solid #D3D3D3;">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Kooperationen</p>
                    <h5 class="font-weight-bolder mb-0">
                      -

                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-single-02 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card" style="border: 1px solid #D3D3D3;">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Patente</p>
                    <h5 class="font-weight-bolder mb-0">
                      -

                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

                  </div>
                </div>
              </div>

        </div>






      <div class="row mt-4">








                     <div class="col-lg-7 mb-lg-0 mb-1">
          <div class="card">
            <div class="card-body p-3">
              <h6 style="margin: 10px;">Anzahl Forschungsprojekte pro Projekttyp</h6>
               <select id="chartType3" style="float: left; margin-top: 11px; margin-left: 9px;">
                      <option value="All">Alle</option>
                      <option value="2022" >2022</option>
                      <option value="2021" >2021</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>

                </select>
                <p style="display: inline-block; margin-left: 10px; margin-top: 11px;">Filter nach Jahr</p>
              <div class="row">



                   <canvas id="chart-pie" class="chart-canvas" height="350"></canvas>















              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('{{ config.ASSETS_ROOT }}/img/ivancik.jpg');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Hinweis</h5>
                <p class="text-white">Das WISO-Forschungsdashboard enthält kein vollständiges Abbild der Forschungsleistungen der WISO, sondern es werden nur Inhalte dargestellt, welche für die Veröffentlichung im Forschungsportal freigegeben wurden.</p>
                <p class="text-white">Des Weiteren  wird derzeit nur eine Teilmenge der gesamten Daten angezeigt.</p>
                  <p class="text-white">Die Daten für Kooperationen und Patente sind derzeit nicht verfügbar und werden deshalb als "-" angezeigt.</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>








      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Publikationen nach Erscheinungsjahr</h6>
            </div>
            <div class="card-body p-3">
                <select id="chartType" style="float: left; margin-left: 8px;">
                      <option value="All">Alle</option>
                      <option value="English">English</option>
                      <option value="German">German</option>
                </select>
                <p style="display: inline-block; margin-left: 10px;">Filter nach Sprache</p>
              <input type="text" id="filter_autor" style="margin-left: 90px;"> <p style="display: inline-block; margin-left: 6px;">Filter nach Autor</p>
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
        </div>





      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Forschungsprojekte pro Monat (Startdatum)</h6>
                <select id="chartType2" style="float: left; margin-top: 15px;">
                      <option value="All">Alle</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>

                </select>
                <p style="display: inline-block; margin-left: 10px; margin-top: 15px;">Filter nach Jahr</p>
            </div>
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3" style="margin: 25px;">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="300"></canvas>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div


      {% include "includes/footer.html" %}
<br/>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



  <script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{{ config.ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");


    let research_projects_all = JSON.parse({{ research_projects | tojson }});
    research_projects_all.forEach(function(e){
      if (typeof e === "object" ){
       e["month"] = e.project_start.substring(3, 5);
       e["year"] = e.project_start.substring(6, 10);
       }
      });

    var research_projects_2022 = research_projects_all.filter(function (el) {
    return el.year == "2022";
    });
    var research_projects_2021 = research_projects_all.filter(function (el) {
    return el.year == "2021";
    });
    var research_projects_2020 = research_projects_all.filter(function (el) {
    return el.year == "2020";
    });
    var research_projects_2019 = research_projects_all.filter(function (el) {
    return el.year == "2019";
    });
    var research_projects_2018 = research_projects_all.filter(function (el) {
    return el.year == "2018";
    });
    var research_projects_2017 = research_projects_all.filter(function (el) {
    return el.year == "2017";
    });
    var research_projects_2016 = research_projects_all.filter(function (el) {
    return el.year == "2016";
    });


    var determineChart2 = document.getElementById("chartType2").value;
    if( determineChart2 == "2022") {
        chart_data2 = research_projects_2022;
    }
   else if (determineChart2 == "2021"){
        chart_data2 = research_projects_2021;
    }
   else if (determineChart2 == "2020"){
        chart_data2 = research_projects_2020;
    }
   else if (determineChart2 == "2019"){
        chart_data2 = research_projects_2019;
    }
   else if (determineChart2 == "2018"){
        chart_data2 = research_projects_2018;
    }
   else if (determineChart2 == "2017"){
        chart_data2 = research_projects_2017;
    }
   else if (determineChart2 == "2016"){
        chart_data2 = research_projects_2016;
    } else {
        chart_data2 = research_projects_all;
    }


    var proj_01 = chart_data2.filter(function (el) {
      return el.month=="01";
    });
       var proj_02 = chart_data2.filter(function (el) {
     return el.month=="02";
    });
       var proj_03 = chart_data2.filter(function (el) {
      return el.month=="03";
    });
       var proj_04 = chart_data2.filter(function (el) {
      return el.month=="04";
    });
       var proj_05 = chart_data2.filter(function (el) {
      return el.month=="05";
    });
       var proj_06 = chart_data2.filter(function (el) {
      return el.month=="06";
    });
       var proj_07 = chart_data2.filter(function (el) {
      return el.month=="07";
    });
        var proj_08 = chart_data2.filter(function (el) {
      return el.month=="08";
    });
        var proj_09 = chart_data2.filter(function (el) {
      return el.month=="09";
    });
        var proj_10 = chart_data2.filter(function (el) {
      return el.month=="10";
    });
        var proj_11 = chart_data2.filter(function (el) {
      return el.month=="11";
    });
        var proj_12 = chart_data2.filter(function (el) {
      return el.month=="12";
    });

    chart_data_array2 = [proj_01.length, proj_02.length, proj_03.length, proj_04.length, proj_05.length, proj_06.length, proj_07.length, proj_08.length, proj_09.length, proj_10.length, proj_11.length, proj_12.length];



    $('#chartType2').on('change', updateChart2)
    function updateChart2() {

    var research_projects_2022 = research_projects_all.filter(function (el) {
    return el.year == "2022";
    });
    var research_projects_2021 = research_projects_all.filter(function (el) {
    return el.year == "2021";
    });
    var research_projects_2020 = research_projects_all.filter(function (el) {
    return el.year == "2020";
    });
    var research_projects_2019 = research_projects_all.filter(function (el) {
    return el.year == "2019";
    });
    var research_projects_2018 = research_projects_all.filter(function (el) {
    return el.year == "2018";
    });
    var research_projects_2017 = research_projects_all.filter(function (el) {
    return el.year == "2017";
    });
    var research_projects_2016 = research_projects_all.filter(function (el) {
    return el.year == "2016";
    });


    var determineChart2 = document.getElementById("chartType2").value;
    if( determineChart2 == "2022") {
        chart_data2 = research_projects_2022;
    }
   else if (determineChart2 == "2021"){
        chart_data2 = research_projects_2021;
    }
   else if (determineChart2 == "2020"){
        chart_data2 = research_projects_2020;
    }
   else if (determineChart2 == "2019"){
        chart_data2 = research_projects_2019;
    }
   else if (determineChart2 == "2018"){
        chart_data2 = research_projects_2018;
    }
   else if (determineChart2 == "2017"){
        chart_data2 = research_projects_2017;
    }
   else if (determineChart2 == "2016"){
        chart_data2 = research_projects_2016;
    } else {
        chart_data2 = research_projects_all;
    }


    var proj_01 = chart_data2.filter(function (el) {
      return el.month=="01";
    });
       var proj_02 = chart_data2.filter(function (el) {
     return el.month=="02";
    });
       var proj_03 = chart_data2.filter(function (el) {
      return el.month=="03";
    });
       var proj_04 = chart_data2.filter(function (el) {
      return el.month=="04";
    });
       var proj_05 = chart_data2.filter(function (el) {
      return el.month=="05";
    });
       var proj_06 = chart_data2.filter(function (el) {
      return el.month=="06";
    });
       var proj_07 = chart_data2.filter(function (el) {
      return el.month=="07";
    });
        var proj_08 = chart_data2.filter(function (el) {
      return el.month=="08";
    });
        var proj_09 = chart_data2.filter(function (el) {
      return el.month=="09";
    });
        var proj_10 = chart_data2.filter(function (el) {
      return el.month=="10";
    });
        var proj_11 = chart_data2.filter(function (el) {
      return el.month=="11";
    });
        var proj_12 = chart_data2.filter(function (el) {
      return el.month=="12";
    });

    chart_data_array2 = [proj_01.length, proj_02.length, proj_03.length, proj_04.length, proj_05.length, proj_06.length, proj_07.length, proj_08.length, proj_09.length, proj_10.length, proj_11.length, proj_12.length];

    myChart2.data.datasets[0].data = chart_data_array2;
    myChart2.update();
}


const myChart2 = new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
        datasets: [{
          label: "Projekte",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: chart_data_array2,
          maxBarThickness: 6,
            datalabels: {
                color: 'White',
                anchor: 'end',
                align:'top',
                offset: 5
            }
          },
        ],
      },
      plugins: [ChartDataLabels],
          options: {
          },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              precision:0,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: true,
              color: '#fff',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            },
          },
        },
      },
    });






    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors


    let publications_all = JSON.parse({{ publications | tojson }});

    var filter_text = document.getElementById("filter_autor").value;

    publications_all = publications_all.filter(function (el) {
      return el.author.includes(filter_text);
    });

    var publications_eng = publications_all.filter(function (el) {
      return el.language == "English" && el.author.includes(filter_text);
    });

    var publications_ger = publications_all.filter(function (el) {
      return el.language == "German" && el.author.includes(filter_text);
    });



var determineChart = document.getElementById("chartType").value;
    if( determineChart == "German") {
        chart_data = publications_ger;
    }
    else if (determineChart == "English"){
        chart_data = publications_eng;

    } else {
        chart_data = publications_all;
    }


    var pub_2013 = chart_data.filter(function (el) {
      return el.publish_year=="2013";
    });
    var pub_2014 = chart_data.filter(function (el) {
      return el.publish_year=="2014";
    });
    var pub_2015 = chart_data.filter(function (el) {
      return el.publish_year=="2015";
    });
    var pub_2016 = chart_data.filter(function (el) {
      return el.publish_year=="2016";
    });
    var pub_2017 = chart_data.filter(function (el) {
      return el.publish_year=="2017";
    });
    var pub_2018 = chart_data.filter(function (el) {
      return el.publish_year=="2018";
    });
    var pub_2019 = chart_data.filter(function (el) {
      return el.publish_year=="2019";
    });
    var pub_2020 = chart_data.filter(function (el) {
      return el.publish_year=="2020";
    });
    var pub_2021 = chart_data.filter(function (el) {
      return el.publish_year=="2021";
    });
    var pub_2022 = chart_data.filter(function (el) {
      return el.publish_year=="2022";
    });

    chart_data_array = [pub_2013.length, pub_2014.length, pub_2015.length, pub_2016.length, pub_2017.length, pub_2018.length, pub_2019.length, pub_2020.length, pub_2021.length, pub_2022.length];



$('#chartType').on('change', updateChart)
$('#filter_autor').on('change', updateChart)
function updateChart() {
    let publications_all = JSON.parse({{ publications | tojson }});

    var filter_text = document.getElementById("filter_autor").value;

    publications_all = publications_all.filter(function (el) {
      return el.author.includes(filter_text);
    });

    var publications_eng = publications_all.filter(function (el) {
      return el.language == "English" && el.author.includes(filter_text);
    });

    var publications_ger = publications_all.filter(function (el) {
      return el.language == "German" && el.author.includes(filter_text);
    });


    var determineChart = document.getElementById("chartType").value;
    if( determineChart == "German") {
        chart_data = publications_ger;
    }
    else if (determineChart == "English"){
        chart_data = publications_eng;

    } else {
        chart_data = publications_all;
    }


    var pub_2013 = chart_data.filter(function (el) {
      return el.publish_year=="2013";
    });
    var pub_2014 = chart_data.filter(function (el) {
      return el.publish_year=="2014";
    });
    var pub_2015 = chart_data.filter(function (el) {
      return el.publish_year=="2015";
    });
    var pub_2016 = chart_data.filter(function (el) {
      return el.publish_year=="2016";
    });
    var pub_2017 = chart_data.filter(function (el) {
      return el.publish_year=="2017";
    });
    var pub_2018 = chart_data.filter(function (el) {
      return el.publish_year=="2018";
    });
    var pub_2019 = chart_data.filter(function (el) {
      return el.publish_year=="2019";
    });
    var pub_2020 = chart_data.filter(function (el) {
      return el.publish_year=="2020";
    });
    var pub_2021 = chart_data.filter(function (el) {
      return el.publish_year=="2021";
    });
    var pub_2022 = chart_data.filter(function (el) {
      return el.publish_year=="2022";
    });

    chart_data_array = [pub_2013.length, pub_2014.length, pub_2015.length, pub_2016.length, pub_2017.length, pub_2018.length, pub_2019.length, pub_2020.length, pub_2021.length, pub_2022.length];

    myChart.data.datasets[0].data = chart_data_array;
    myChart.update();

}


const myChart = new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"],
        datasets: [

          {
            label: "Publikationen",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: chart_data_array,
            maxBarThickness: 6,
            datalabels: {
                color: '#3A416F',
                anchor: 'end',
                align:'top',
                offset: 5
            }
          },
        ],
      },
      plugins: [ChartDataLabels],
          options: {
          },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              precision:0,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });









    let research_projects_all_nn = JSON.parse({{ research_projects | tojson }});
    research_projects_all_nn.forEach(function(e){
      if (typeof e === "object" ){
       e["month"] = e.project_start.substring(3, 5);
       e["year"] = e.project_start.substring(6, 10);
       }
      });



    var research_projects_2022_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2022";
    });
    var research_projects_2021_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2021";
    });
    var research_projects_2020_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2020";
    });
    var research_projects_2019_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2019";
    });
    var research_projects_2018_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2018";
    });
    var research_projects_2017_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2017";
    });
    var research_projects_2016_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2016";
    });



    var determineChart3 = document.getElementById("chartType3").value;
    if( determineChart3 == "2022") {
        chart_data3 = research_projects_2022_nn;
    }
   else if (determineChart3 == "2021"){
        chart_data3 = research_projects_2021_nn;
    }
   else if (determineChart3 == "2020"){
        chart_data3 = research_projects_2020_nn;
    }
   else if (determineChart3 == "2019"){
        chart_data3 = research_projects_2019_nn;
    }
   else if (determineChart3 == "2018"){
        chart_data3 = research_projects_2018_nn;
    }
   else if (determineChart3 == "2017"){
        chart_data3 = research_projects_2017_nn;
    }
   else if (determineChart3 == "2016"){
        chart_data3 = research_projects_2016_nn;
    } else {
        chart_data3 = research_projects_all_nn;
    }


    data3_Thi_ct = chart_data3.filter(function (el) {
      return el.project_type=="Third Party Funds Group - Overall project";
    });
    data3_Thi_le = chart_data3.filter(function (el) {
      return el.project_type=="Third Party Funds Single";
    });
            data3_Own_ds = chart_data3.filter(function (el) {
      return el.project_type=="Own Funds";
    });
           data3_Thi_ctt = chart_data3.filter(function (el) {
      return el.project_type=="Third Party Funds Group - Sub project";
    });
        data3_Fre_kt = chart_data3.filter(function (el) {
      return el.project_type=="Fremdprojekt";
    });
        data3_FAU_ds = chart_data3.filter(function (el) {
      return el.project_type=="FAU Funds";
    });


    chart_data3_array = [data3_Thi_ct.length, data3_Thi_le.length, data3_Own_ds.length, data3_Thi_ctt.length, data3_Fre_kt.length, data3_FAU_ds.length];



$('#chartType3').on('change', updateChart3)
function updateChart3() {

    let research_projects_all_nn = JSON.parse({{ research_projects | tojson }});
    research_projects_all_nn.forEach(function(e){
      if (typeof e === "object" ){
       e["month"] = e.project_start.substring(3, 5);
       e["year"] = e.project_start.substring(6, 10);
       }
      });

    var research_projects_2022_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2022";
    });
    var research_projects_2021_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2021";
    });
    var research_projects_2020_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2020";
    });
    var research_projects_2019_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2019";
    });
    var research_projects_2018_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2018";
    });
    var research_projects_2017_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2017";
    });
    var research_projects_2016_nn = research_projects_all_nn.filter(function (el) {
    return el.year == "2016";
    });

    var determineChart3 = document.getElementById("chartType3").value;
    if( determineChart3 == "2022") {
        chart_data3 = research_projects_2022_nn;
    }
   else if (determineChart3 == "2021"){
        chart_data3 = research_projects_2021_nn;
    }
   else if (determineChart3 == "2020"){
        chart_data3 = research_projects_2020_nn;
    }
   else if (determineChart3 == "2019"){
        chart_data3 = research_projects_2019_nn;
    }
   else if (determineChart3 == "2018"){
        chart_data3 = research_projects_2018_nn;
    }
   else if (determineChart3 == "2017"){
        chart_data3 = research_projects_2017_nn;
    }
   else if (determineChart3 == "2016"){
        chart_data3 = research_projects_2016_nn;
    } else {
        chart_data3 = research_projects_all_nn;
    }


    data3_Thi_ct = chart_data3.filter(function (el) {
      return el.project_type=="Third Party Funds Group - Overall project";
    });
            data3_Thi_le = chart_data3.filter(function (el) {
      return el.project_type=="Third Party Funds Single";
    });
            data3_Own_ds = chart_data3.filter(function (el) {
      return el.project_type=="Own Funds";
    });
           data3_Thi_ctt = chart_data3.filter(function (el) {
      return el.project_type=="Third Party Funds Group - Sub project";
    });
        data3_Fre_kt = chart_data3.filter(function (el) {
      return el.project_type=="Fremdprojekt";
    });
        data3_FAU_ds = chart_data3.filter(function (el) {
      return el.project_type=="FAU Funds";
    });


    chart_data3_array = [data3_Thi_ct.length, data3_Thi_le.length, data3_Own_ds.length, data3_Thi_ctt.length, data3_Fre_kt.length, data3_FAU_ds.length];

    myChart3.data.datasets[0].data = chart_data3_array;
    myChart3.update();
}




 var ctx3 = document.getElementById("chart-pie").getContext("2d");

    const myChart3 = new Chart(ctx3, {
      type: "doughnut",
      data: {
        labels: ["Third Party Funds Group - Overall project", "Third Party Funds Single", "Own Funds", "Third Party Funds Group - Sub project", "Fremdprojekt", "FAU Funds"],
        datasets: [
          {
            label: ["Third Party Funds Group - Overall project", "Third Party Funds Single", "Own Funds", "Third Party Funds Group - Sub project", "Fremdprojekt", "FAU Funds"],
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: 'White',
            borderWidth: 3,
            fill: true,
            backgroundColor: ['#00008B', "#1F75FE", "#74BBFB", "#AEDBCE", "#635666","#839AA8"],
            data: chart_data3_array,
            maxBarThickness: 6,
            datalabels: {
                color: 'White',
                anchor: 'center'
            }
          },
        ],
      },
      plugins: [ChartDataLabels],
          options: {
          },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
      },
    });











    let publications_all_new = JSON.parse({{ publications | tojson }});

    var pub_2013 = publications_all_new.filter(function (el) {
      return el.publish_year=="2013";
    });
    var pub_2014 = publications_all_new.filter(function (el) {
      return el.publish_year=="2014";
    });
    var pub_2015 = publications_all_new.filter(function (el) {
      return el.publish_year=="2015";
    });
    var pub_2016 = publications_all_new.filter(function (el) {
      return el.publish_year=="2016";
    });
    var pub_2017 = publications_all_new.filter(function (el) {
      return el.publish_year=="2017";
    });
    var pub_2018 = publications_all_new.filter(function (el) {
      return el.publish_year=="2018";
    });
    var pub_2019 = publications_all_new.filter(function (el) {
      return el.publish_year=="2019";
    });
    var pub_2020 = publications_all_new.filter(function (el) {
      return el.publish_year=="2020";
    });
    var pub_2021 = publications_all_new.filter(function (el) {
      return el.publish_year=="2021";
    });
    var pub_2022 = publications_all_new.filter(function (el) {
      return el.publish_year=="2022";
    });


    let pub_all_count = publications_all_new.length;
    let pub_2022_count = pub_2022.length;
    let pub_2021_count = pub_2021.length;
    let pub_2020_count = pub_2020.length;
    let pub_2019_count = pub_2019.length;
    let pub_2018_count = pub_2018.length;
    let pub_2017_count = pub_2017.length;
    let pub_2016_count = pub_2016.length;
    let pub_2015_count = pub_2015.length;
    let pub_2014_count = pub_2014.length;
    let pub_2013_count = pub_2013.length;


    let research_projects_all_count = research_projects_all.length;
    let research_projects_2022_count = research_projects_2022.length;
    let research_projects_2021_count = research_projects_2021.length;
    let research_projects_2020_count = research_projects_2020.length;
    let research_projects_2019_count = research_projects_2019.length;
    let research_projects_2018_count = research_projects_2018.length;
    let research_projects_2017_count = research_projects_2017.length;
    let research_projects_2016_count = research_projects_2016.length;

    document.getElementById("number_projects").innerHTML = research_projects_2022_count;

    var cardfilter = document.getElementById("cardfilter").value;

    if( cardfilter == "2022") {
         document.getElementById("number_projects").innerHTML = research_projects_2022_count;
         document.getElementById("number_pub").innerHTML = pub_2022_count;
    }
   else if (cardfilter == "2021"){
         document.getElementById("number_projects").innerHTML = research_projects_2021_count;
         document.getElementById("number_pub").innerHTML = pub_2021_count;
    }
   else if (cardfilter == "2020"){
         document.getElementById("number_projects").innerHTML = research_projects_2020_count;
         document.getElementById("number_pub").innerHTML = pub_2020_count;
    }
   else if (cardfilter == "2019"){
         document.getElementById("number_projects").innerHTML = research_projects_2019_count;
         document.getElementById("number_pub").innerHTML = pub_2019_count;
    }
   else if (cardfilter == "2018"){
         document.getElementById("number_projects").innerHTML = research_projects_2018_count;
         document.getElementById("number_pub").innerHTML = pub_2018_count;
    }
   else if (cardfilter == "2017"){
         document.getElementById("number_projects").innerHTML = research_projects_2017_count;
         document.getElementById("number_pub").innerHTML = pub_2017_count;
    }
   else if (cardfilter == "2016"){
         document.getElementById("number_projects").innerHTML = research_projects_2016_count;
         document.getElementById("number_pub").innerHTML = pub_2016_count;
    } else {
         document.getElementById("number_projects").innerHTML = research_projects_all_count;
         document.getElementById("number_pub").innerHTML = pub_all_count;
    }

    $('#cardfilter').on('change', updateCard)
    function updateCard() {
    var cardfilter = document.getElementById("cardfilter").value;

    if( cardfilter == "2022") {
         document.getElementById("number_projects").innerHTML = research_projects_2022_count;
         document.getElementById("number_pub").innerHTML = pub_2022_count;
    }
   else if (cardfilter == "2021"){
         document.getElementById("number_projects").innerHTML = research_projects_2021_count;
         document.getElementById("number_pub").innerHTML = pub_2021_count;
    }
   else if (cardfilter == "2020"){
         document.getElementById("number_projects").innerHTML = research_projects_2020_count;
         document.getElementById("number_pub").innerHTML = pub_2020_count;
    }
   else if (cardfilter == "2019"){
         document.getElementById("number_projects").innerHTML = research_projects_2019_count;
         document.getElementById("number_pub").innerHTML = pub_2019_count;
    }
   else if (cardfilter == "2018"){
         document.getElementById("number_projects").innerHTML = research_projects_2018_count;
         document.getElementById("number_pub").innerHTML = pub_2018_count;
    }
   else if (cardfilter == "2017"){
         document.getElementById("number_projects").innerHTML = research_projects_2017_count;
         document.getElementById("number_pub").innerHTML = pub_2017_count;
    }
   else if (cardfilter == "2016"){
         document.getElementById("number_projects").innerHTML = research_projects_2016_count;
         document.getElementById("number_pub").innerHTML = pub_2016_count;
    } else {
         document.getElementById("number_projects").innerHTML = research_projects_all_count;
         document.getElementById("number_pub").innerHTML = pub_all_count;
    }


  }



  </script>

{% endblock javascripts %}