{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-0"><h6>Filter Forschungsprojekte</h6></div>
<div class="container-fluid py-0">
    <div class="row mt-2">
        <div class="col-12 mb-3 col-md-6">
            <select class="form-select" id="filterByMittelgeber" onchange="searchFilter()">
                <option value="" selected>Nach Mittelgeber filtern</option>
                <option value="green">Dr. Hans Riegel-Stiftung</option>
                <option value="blue">BMBF / Verbundprojekt</option>
                <option value="yellow">Deutsche Forschungsgemeinschaft (DFG)</option>
            </select>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Nach Titel suchen" aria-label="Nach Titel suchen"
                   onkeyup="searchFilter()">
        </div>
    </div>
</div></div></div


</div>
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Forschungsprojekte</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titel
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Projektleiter/in
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Mittelgeber
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Projektstart
                                </th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <!--
                                        <div>
                                          <img src="{{ config.ASSETS_ROOT }}/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        -->
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ research_projects[0].title }}</h6>
                                                <!--<p class="text-xs text-secondary mb-0">john@creative-tim.com</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ research_projects[0].project_leader }}</p>
                                    <!--
                                    <p class="text-xs font-weight-bold mb-0">Christopher Münch</p>
                                    <p class="text-xs font-weight-bold mb-0">Emanuel Marx</p>
                                     -->
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0">{{ research_projects[0].funder }}</p>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-xs font-weight-bold mb-0">{{ research_projects[0].project_start }}</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Nürnberg und der globale Süden</h6>

                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">Prof. Dr. Simone Derix</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0">BMBF / Verbundprojekt</p>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-xs font-weight-bold mb-0">01.10.2022</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Optimale Entscheidungsfin-dung bei
                                                    Pandemien</h6>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">Dr. Bismark Singh</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold mb-0">Deutsche Forschungsgemeinschaft (DFG)</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-xs font-weight-bold mb-0">22.03.2022</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Forschungsfeld Lesen – Lesen als
                                                    Totalphänomen</h6>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">Prof. Dr. Svenja Hagenhoff</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold mb-0">Deutsche Forschungsgemeinschaft (DFG)</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-xs font-weight-bold mb-0">01.05.2022</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br></br>

    <h6>Filter Publikationen</h6>

    <div class="row mt-2">
        <div class="col-12 mb-3 col-md-6">
            <select class="form-select" id="filterByErscheinungsjahr" onchange="searchFilter()">
                <option value="" selected>Nach Erscheinungsjahr filtern</option>
                <option value="green">2020</option>
                <option value="blue">2021</option>
                <option value="yellow">2022</option>
            </select>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Nach Titel suchen" aria-label="Nach Titel suchen"
                   onkeyup="searchFilter()">
        </div>

    </div>


    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Publikationen</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titel
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Autoren
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Erscheinungsjahr
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Sprache
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        <div class="d-flex px-2">
                                            <div class="my-auto">
                                                <h6 class="mb-0 text-sm">The Non-Stop Disjoint Trajectories Problem</h6>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">Hoch B, Liers F, Neumann S</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">2020</span>
                                </td>
                                <td>

                                    <span class="text-xs font-weight-bold mb-0">Englisch</span>

                    </div>
                    </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">
                                <div class="d-flex px-2">
                                    <div class="my-auto">
                                        <h6 class="mb-0 text-sm">Optimal actuator design via Brunovsky’s normal
                                            form</h6>
                                    </div>
                                </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">Geshkovski B, Zuazua Iriondo E</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">2021</span>
                        </td>
                        <td>

                            <span class="text-xs font-weight-bold mb-0">Englisch</span>


                </div>
                </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex px-2">
                            <div class="d-flex px-2">
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Digital Truth-Making</h6>
                                </div>
                            </div>
                    </td>
                    <td>
                        <p class="text-xs font-weight-bold mb-0">Bareither C, Eckhardt D, Harder A</p>
                    </td>
                    <td>
                        <p class="text-xs font-weight-bold mb-0">2021</span>
                    </td>
                    <td>

                        <span class="text-xs font-weight-bold mb-0">Englisch</span>

            </div>
            </td>

            </tr>
            <tr>
                <td>
                    <div class="d-flex px-2">
                        <div class="d-flex px-2">
                            <div class="my-auto">
                                <h6 class="mb-0 text-sm">§ 50 Grenzüberschreitende Spaltung</h6>
                            </div>
                        </div>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0">Hoffmann J</p>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0">2019</span>
                </td>
                <td>

                    <span class="text-xs font-weight-bold mb-0">Deutsch</span>


        </div>
    </div>
    </td>

    </tr>
    </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

{% include "includes/footer.html" %}
<br/>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>

{% endblock javascripts %}
